
*.xcworkspacedata

*.xcuserstate

*.xcsettings

*.xcbkptlist

Top Places.xcodeproj/xcuserdata/gep.xcuserdatad/xcschemes/xcschememanagement.plist

Top Places.xcodeproj/xcuserdata/gep.xcuserdatad/xcschemes/Top Places.xcscheme
